html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* * {
  border: 1px solid red;
} */

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.mobile-container {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
}

.header.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header div.upper-line {
  padding-bottom: 10px;
}

header div.upper-line .container > div {
  /* width: 20%; */
  height: 40px;
}

div.upper-line .container > div.logo-container {
  width: 33%;
  display: flex;
}

header div.upper-line .logo-wrapper img {
  height: 50px;
  width: auto;
  filter: grayscale(100%);
}

header div.upper-line .logo-wrapper {
  max-width: 70px;
  padding-top: 10px;
}

header div.upper-line .title-wrapper {
  /* width: 20%; */
  padding-top: 23px;
}

header div.upper-line .title-wrapper h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.hamburger-icon-wrapper {
  display: none;
}

header div.upper-line .container .slogan {
  width: 40%;
  text-align: right;
  font-size: 21px;
  line-height: 29px;
  font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #35333a;
  padding-top: 10px;
  /* margin-left: 20%; */
  padding-top: 20px;
}

header .slogan h3 {
  margin-right: 10px;
}

header div.upper-line .button-rendez-vous {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

header div.upper-line .button-rendez-vous a,
header div.down-line .button-rendez-vous a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 46px;
  background-color: #ffffff;
  color: #35333a;
  border-color: #f0f0f0;
  border: 2px dotted;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  padding: 5px 20px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}

header div.upper-line .button-rendez-vous a:hover,
header div.down-line .button-rendez-vous a:hover {
  color: #ffffff;
  border: none;
  background-color: #b89b90;
}

header div.down-line .button-rendez-vous {
  display: none;
}

header div.down-line {
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
}

header nav ul.main-menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header nav ul.main-menu li {
  text-align: center;
  width: 10%;
  height: 100%;
  word-spacing: -2px;
  border-left: 1px solid #e9e9e9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #fff;
}

header nav ul.main-menu li:last-child {
  border-right: 1px solid #e9e9e9;
}

header nav ul.main-menu li:hover {
  color: #b89b90;
  border-top: 2px solid #b89b90;
}

header nav ul.main-menu li > a {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #35333a;
}

main {
  margin-top: 80px;
}

main .flexslider {
  margin: 0;
  border-bottom-color: #eef2f5;
}

main .flexslider .flex-viewport {
  height: 550px;
}

.slide-content {
  position: relative;
  bottom: 300px;
  left: 80px;
  font-size: 0.95em;
  padding: 0.45em 0.85em 0.25em;
  border-radius: 3px;
  overflow: hidden;
}

.flex-direction-nav a {
  top: 40%;
}

.slide-content h3.slide-title {
  font-weight: 700;
  font-size: 54.4583px;
  color: rgb(221, 221, 223);
  top: 87.1854px;
  left: 251.87px;
  margin: 0px;
  z-index: auto;
  height: 68.7537px;
}

.slide-content div.slide-text {
  font-style: italic;
  font-family: droid serif;
  font-size: 15.2531px;
  color: rgb(255, 255, 255);
  z-index: auto;
  filter: none;
  border-left: 2px solid #fff;
  padding-left: 20px;
}

.slide-content div.button-container {
  margin-top: 50px;
}

.slide-content div.button-container .button {
  display: block;
  background: #fff;
  width: 200px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #35333a;
  padding: 10px 20px;
}

.slide-content div.button-container .button:hover {
  color: #fff;
  background-color: #b89b90;
}

.flexslider .slides img {
  height: 550px;
  -moz-user-select: none;
}

.flex-nav-prev a,
.flex-nav-next a {
  line-height: 40px;
}

.services-photos-wrapper {
  margin-top: -30px;
  z-index: 5;
  position: relative;
}

.services-wrapper {
  border-bottom: 1px dotted #6b6b6b;
  background: #f5f5f5;
}

.services-photos {
  width: 30%;
  max-width: 30%;
}

.services-photo-01,
.services-photo-02 {
  margin-right: 5%;
}

.services-photos img {
  height: 150px;
  width: 100%;
}

.services-widjets {
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.services {
  width: 30%;
  min-width: 30%;
  margin-right: 5%;
  margin-top: 50px;
  padding-bottom: 20px;
}

.services:nth-child(3),
.services:last-child {
  margin-right: 0;
}

.services-wrapper .icon-container {
  width: 20%;
  margin-left: 3.3%;
}

.services-wrapper .icon-container i {
  margin-left: 5px;
  margin-top: 10px;
}

.services-wrapper .icon-container div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin-top: 40%;
  margin-left: 15%;
  font-size: 25px;
}

.services-wrapper .description {
  width: 70%;
  margin-left: 3.3%;
  margin-right: 3.3%;
}

.services-wrapper .description h3,
.services-wrapper .description p {
  margin-right: 20px;
}

.services-wrapper .description h3 {
  line-height: 28px;
  font-weight: bold;
  font-style: normal;
  color: #303030;
}

.services-wrapper .description p {
  color: #6b6b6b;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.presentation-psychologue {
  margin-top: 50px;
  margin-bottom: 50px;
}

.psychologue-description {
  width: 50%;
  margin-top: 100px;
}

.psychologue-description > * {
  margin-left: 50px;
  margin-right: 50px;
}

.psychologue-description h2 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  color: #303030;
  margin-bottom: 20px;
}

.psychologue-description p.profession {
  font-family: 'Droid Serif';
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  color: #868686;
  margin-bottom: 30px;
}

.psychologue-description p.resume {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.psychologue-description .telephone {
  margin-top: 30px;
}

.psychologue-description .telephone h2 {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  color: #303030;
  margin-left: 50px;
  padding-top: 20px;
}

.psychologue-description .icon-container div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c79385;
  margin-top: 40%;
  margin-left: 15%;
  font-size: 25px;
}

.psychologue-description .icon-container i {
  color: #fff;
  margin-left: 10px;
  margin-top: 8px;
}

.psychologue-description p.appelez-nous {
  margin-left: 100px;
  margin-top: 30px;
  font-family: droid serif;
  color: #333333;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
}

.psychologue-image {
  width: 50%;
}

.psychologue-image img {
  width: 100%;
  height: auto;
}

.presentation-therapy {
  background-repeat: no-repeat;
  background-size: 100% 420px;
  padding-bottom: 150px;
  text-align: center;
}

.presentation-therapy h3 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 50px;
}

.presentation-therapy p.texte-explicatif {
  font-size: 13pt;
  color: #dddddf;
}

.presentation-therapy .ligne-draw {
  width: 100px;
  border-top: 2px solid #fff;
  height: 10px;
  margin: 30px auto;
}

.presentation-therapy .description {
  font-family: 'Droid Serif';
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  font-style: italic;
  color: #ffffff;
}

.presentation-therapy .button {
  font-size: 14px;
  line-height: 45px;
  font-weight: 600;
  font-style: normal;
  border-style: solid;
  background-color: #ffffff;
  color: #363636;
  border-color: #ffffff;
  border-width: 1px;
  width: 300px;
  margin: 30px auto 0;
}

.presentation-therapy .button a {
  color: #000000;
}

.presentation-therapy .button:hover {
  background-color: #b09991;
  color: #ffffff;
  border-color: #b09991;
}

.certificates-wrapper {
  text-align: center;
  border-bottom: 2px dotted #e8e8e8;
  padding-bottom: 70px;
}

.certificates-wrapper h3 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  color: #303030;
}

.certificates-wrapper p {
  font-family: 'Droid Serif';
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  color: #868686;
  margin-bottom: 50px;
  margin-top: 20px;
}

.certificates-images {
  margin: 0 auto;
  text-align: center;
  margin-left: 10%;
}

.certif-image {
  width: 20%;
  height: 120px;
  border: 2px dotted #e8e8e8;
}

.certif-image img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
}

.blog-wrapper {
  color: #303030;
  text-align: center;
  padding-top: 50px;
}

.blog-wrapper h2 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 20px;
}

.blog-wrapper .subtitle {
  font-family: 'Droid Serif';
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  color: #868686;
  margin-bottom: 50px;
}

.blog-wrapper .post {
  width: 30%;
}

.blog-wrapper .post:nth-child(2),
.blog-wrapper .post:nth-child(5) {
  margin-left: 5%;
  margin-right: 5%;
}

.blog-wrapper .post .image-container {
  width: 100%;
  height: 270px;
}

.blog-wrapper .post .image-container img {
  width: 100%;
  height: auto;
}

.post .informations-post {
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.post .informations-post .date,
.post .informations-post .author {
  width: 60%;
  padding: 10px 0;
  font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}

.post .informations-post .author {
  width: 40%;
}

.post .informations-post .date i,
.post .informations-post .author i,
.post .informations-post .categories i,
.post .informations-post .tags i {
  color: #b89b90;
  margin-right: 5px;
}

.post .button-read-more a {
  color: #b89b90;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #b89b90;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}

.post .button-read-more a:hover {
  color: #ffffff;
  background: #b89b90;
}

.post h3 {
  color: #303030;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin-top: 10px;
}

.post .categories a {
  color: #6b6b6b;
  font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}

.post .texte {
  color: #6b6b6b;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 50px;
}

footer {
  margin-top: 80px;
}

.footer-intro {
  background-color: #e7e7e7;
  height: 300px;
  padding-top: 50px;
}

.footer-intro .container > div {
  width: 23%;
  margin-top: 40px;
  text-align: center;
}

.footer-intro .container > div:first-child {
  margin-left: 4%;
}

.footer-intro i {
  color: #a67467;
  font-size: 40px;
}

.footer-intro h3 {
  color: #303030;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.footer-intro p {
  font-size: 11pt;
  font-family: droid serif;
  color: #6b6b6b;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.footer-intro .container .logo-wrapper img {
  height: 50px;
  width: auto;
  filter: grayscale(100%);
}

.footer-main {
  background-color: #2d2d2d;
  padding-top: 50px;
}

.footer-main .container > div:first-child {
  width: 45%;
}

.footer-main .container > div {
  width: 25%;
}

.footer-main h3 {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-main ul {
  padding-left: 0;
}

.footer-main .about-wrapper {
  margin-right: 5%;
}

.footer-main .about-wrapper p,
.footer-main ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.footer-main ul li a:hover {
  color: #ffffff;
}

.footer-main hr {
  margin-top: 50px;
}

.footer-main .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  font-style: normal;
  line-height: 24px;
}

/*   index.php    */
.blog-page .blog-wrapper {
  padding-top: 0;
}

.blog-page .title-wrapper {
  border-bottom: 1px dotted #6b6b6b;
  background: #f5f5f5;
  padding-top: 30px;
}

.blog-page .title-wrapper > p {
  margin-bottom: 10px;
}

.blog-page .post-wrapper {
  margin-top: 40px;
  flex-wrap: wrap;
}

.blog-page .blog-wrapper .post {
  margin-bottom: 40px;
}

a.page-numbers,
span.current {
  margin-left: 5px;

  color: #b89b90;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #b89b90;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}

a.page-numbers:hover {
  color: #ffffff;
  background: #b89b90;
}

span.current {
  color: #ffffff;
  background: #b89b90;
}

.single-page .blog-wrapper {
  padding-top: 40px;
}

.single-page .post-wrapper.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.single-page .post {
  width: 65%;
}

.single-page .sidebar {
  width: 30%;
}

.single-page .blog-wrapper .post .image-container {
  width: unset;
  height: unset;
}

.single-page .title-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px dotted #c8c0c0;
  /* background: #f5f5f5; */
  padding: 40px 1px 20px;
  margin-bottom: 40px;
}

.single-page .title-wrapper h3 {
  font-size: 24px;
  width: 65%;
}

.sidebar {
  margin-left: 20px;
}

.widget:nth-of-type(even) {
  border: 1px dotted #6b6b6b;
  border-top: none;
  padding: 10px 0;
  margin-bottom: 40px;
}

.widget:nth-of-type(even) a {
  color: #303030;
}

.widget:nth-of-type(even) a:hover {
  color: #a67467;
}

.widget-title {
  background: #f5f5f5;
  padding: 10px 0;
}

main.archive-page {
  margin-top: 85px;
}

h2.archive-title {
  background: #f5f5f5;
  padding: 40px 0;
  text-align: center;
}

.archive-page .post {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
}

.archive-page .image-container {
  width: 20%;
}
.archive-page .image-container img {
  width: 100%;
  height: 150px;
}

.archive-page .content-wrapper {
  width: 65%;
  margin-left: 20px;
}

.archive-page .post {
  margin-bottom: 20px;
}

.archive-page .post h3 {
  margin-top: 0;
}

.archive-page .post .informations-post .date,
.archive-page .post .informations-post .author {
  width: 15%;
  padding: 0;
  min-width: 150px;
}

.archive-page .post .informations-post .categories {
  margin-right: 20px;
}

.archive-page .post .texte {
  margin: 0;
}

.archive-page .post .informations-post {
  border-left: none;
  border-right: none;
}

.archive-page .border-bottom-line {
  display: block;
  width: 87%;
  border-bottom: 3px dotted #e8e8e8;
}

.archive-page .border-bottom-line:last-child {
  border-bottom: none;
}

.psy_loadmore {
  background-color: #ddd;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.3s ease-in-out;
}

.psy_loadmore:hover {
  background-color: #2d2d2d;
  color: #fff;
}

/* <about us page> */

.about-us-page .flex-container {
  display: flex;
  padding-top: 65px;
}

.about-us-page .left-container,
.about-us-page .right-container {
  width: 50%;
}

.about-us-page .psychologue-title {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Droid Serif';
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  color: #868686;
}

.about-us-page .left-container p {
  margin-right: 40px;
  font-family: 'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #6b6b6b;
}

.about-us-page .left-container .texte-container.second,
.about-us-page .left-container .texte-container.third {
  margin-top: 20px;
}

.about-us-page .left-container div.psychologue-slogan {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

div.psychologue-slogan p.quotes-container {
  width: 20%;
  font-size: 100px;
  text-align: center;
  color: #868686;
  padding-top: 30px;
}

div.psychologue-slogan p.slogan-container {
  width: 80%;
  font-family: 'Droid Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  font-style: italic;
}

.about-us-page .left-container .img-container {
  text-align: end;
  margin-right: 60px;
  margin-top: 20px;
}

/* </about us page> */

/* <contact page> */

.contact-page .have-questions-wrapper {
  margin-top: 60px;
  margin-bottom: 80px;
}

/* </contact page */

/*  <single service page> */

.navigation-links-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.previous i {
  font-size: 18px;
  margin-right: 5px;
  color: #a67467;
  position: relative;
  top: 2px;
}

.next i {
  font-size: 18px;
  margin-left: 5px;
  color: #a67467;
  position: relative;
  top: 2px;
}

.previous a,
.next a {
  font-weight: bold;
  color: #303030;
}

/*  </single service page */

/*    
================================
      RESPONSIVE  STYLES
================================
*/
@media only screen and (max-width: 1300px) {
  .container {
    max-width: 1024px;
  }
}

/*  tablette  */
@media only screen and (max-width: 1024px) {
  /* TODO : container width */
  .container {
    width: 100%;
  }

  header div.upper-line .container .logo-wrapper {
    width: 50%;
  }

  header div.upper-line .container .title-wrapper {
    width: 90%;
  }

  header div.upper-line .button-rendez-vous {
    display: none;
  }

  header div.down-line .button-rendez-vous {
    display: block;
  }

  .down-line .container {
    display: none;
  }

  .mobile-container {
    display: flex;
    flex-wrap: wrap;
  }

  #menu-mobile {
    display: none;
  }

  div.upper-line .container > div.logo-container {
    width: 40%;
  }

  header div.upper-line .title-wrapper {
    padding-top: 12px;
  }

  .mobile-container .menu-main-menu-container {
    width: 100px;
    margin-left: 40vw;
  }

  .mobile-container .menu-main-menu-container ul {
    text-align: center;
  }

  header div.upper-line .container .slogan {
    width: 60%;
    /* margin-right: 5%; */
  }

  header div.down-line .hamburger-icon-wrapper {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #a67467;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 30px;
    text-align: center;
  }

  .mobile-upper-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .mobile-upper-wrapper .button-rendez-vous {
    width: 50%;
  }

  header div.down-line .button-rendez-vous a {
    margin-top: 5px;
    line-height: 25px;
    padding: 5px 17px;
    margin-left: 30px;
  }

  .mobile-upper-wrapper .icon-mobile-container {
    width: 50%;
    display: flex;
    justify-content: right;
  }

  header div.down-line .hamburger-icon-wrapper i {
    margin-top: 4px;
    color: #a67467;
  }

  header div.down-line .hamburger-icon-wrapper i:hover {
    border: 1px solid #a67467;
    color: #fff;
    background-color: #a67467;
  }

  header div.down-line .hamburger-icon-wrapper:hover {
    background-color: #a67467;
  }

  .mobile-container li {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .mobile-container ul {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .mobile-upper-wrapper {
    border-bottom: 1px solid #e9e9e9;
  }

  .mobile-container li:hover {
    border-bottom: 1px solid #a67467;
  }

  header ul li > a {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #35333a;
    text-align: center;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  header .slogan h3 span.slogan-texte {
    font-size: 0.75em;
  }
}

/* mobile small screens */
@media only screen and (max-width: 570px) {
  header .slogan {
    display: none;
  }

  header div.upper-line .container .logo-wrapper {
    width: 30%;
  }

  header div.upper-line .container .title-wrapper {
    width: 70%;
    margin-top: 20px;
  }

  div.upper-line .container > div.logo-container {
    width: 100%;
    justify-content: center;
  }
}
